button {
    border: var(--border-thickness) solid var(--black);
    padding: .5rem 2rem;
    border-radius: var(--border-radius);
    background-color: var(--btn-primary);
    transition: box-shadow ease 300ms, transform ease 300ms, background-color ease 300ms, border-color ease 300ms, color ease 300ms;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: var(--btn-primary-hover);
        box-shadow: 3px 3px 0px black;
        transform: translate(-3px, -3px);
        color: var(--white);
    }

    &:focus {
        box-shadow: 0 0 0 3px var(--white);
    }

    &:active {
        box-shadow: none;
        transform: none;
    }
}

.undo-redo {
    display: flex;
    justify-content: space-between;
    gap: 5em;

    .undo,
    .redo {
        padding: .3em .5em;
    }
}

#close {
    padding: .1rem .7rem;
    font-size: 1.5em;
}

button.secondary {
    border: var(--border-thickness) solid var(--border-color);
    background-color: var(--btn-secondary);
    color: var(--text-color);

    &:hover {
        background-color: var(--btn-secondary-hover);
        color: var(--black);
    }

    &:focus {
        box-shadow: 0 0 0 3px var(--focus-color);
    }

}

button.special {
    position: absolute;
    top: 0;
    right: 0;
    margin-block-start: 5rem;
    margin-inline-end: 1em;
    background-color: var(--btn-special);

    &:hover {
        background-color: var(--btn-special-hover);
    }

}

.play-pause-button {
    display: flex;
    padding: 0;
    margin-block: 2rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    &:hover {
        background-color: transparent;
        box-shadow: none;
        transform: none;
    }
}

button:hover .play-path,
button:hover .pause-path {
    fill: var(--play-btn-hover);
}