[role="dialog"] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 30vh;
    max-width: 50vw;
    display: none;
}

[role="dialog"][open] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-100);
    border-radius: var(--border-radius);
    border: var(--border-thickness) solid black;
    z-index: 2;
}

.dialog-container {
    padding: 2em;

    #title {
        font-size: var(--h1-size);
        text-transform: uppercase;
    }

    #description {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin-block: 2em;
        gap: 1em;
    }

    #close {
        position: absolute;
        right: 0;
        top: 0;
        margin: .5em;
    }
}

.bold {
    font-weight: bold;
}

#cover {
    background: var(--purple-400);
    opacity: 0.75;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
}

#trigger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
}