.pro-controls {
    margin-block-start: 2em;
    visibility: hidden;
    border: var(--border-thickness) solid var(--black);
    border-radius: var(--border-radius);

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
    }

    .cnt {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 2rem;
        margin-block-end: 1em;

        legend {
            font-size: 1.3rem;
            margin: .8rem .5rem;
            padding: .5rem;
            border-radius: var(--border-radius);
            background-color: #23A093;
            color: var(--black);
        }
    }

    .scale-container {
        display: flex;
        width: 100%;
        gap: .3em;
    }

    input {
        appearance: none;
    }

    label,
    button {
        padding: .7em 1em;
        border: var(--border-thickness) solid var(--black);
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: none;
        transform: none;
        transition: box-shadow 300ms ease;

        &:hover {
            background-color: var(--light-orange);
            color: var(--black);
        }
    }

    .octave button {
        padding: .2em;
        margin-inline-end: .4em;

        &:focus {
            box-shadow: 0 0 0 3px var(--lighter-gray);
        }
    }

    input:checked+label {
        background-color: #5651FE;
    }

    input:focus+label {
        box-shadow: 0 0 0 3px var(--lighter-gray);
    }
}

body.pro .pro-controls {
    visibility: visible;
}

.keyboard-cnt {
    position: relative;
    width: 500px;
    margin: auto;
    margin-block: -1em 1em;

    img {
        width: 500px;
    }

    .highlight {
        position: absolute;
        width: 71px;
        height: 40px;
        background-color: #5651FE;
        z-index: -1;
        margin-inline-start: 5px;
        transform: translateX(140px);
        transition: transform 300ms ease;
    }
}