.sequencer,
.drum-seq {
    margin-block-end: 4.2rem;
    display: flex;
    gap: .3rem;

    &__column {
        display: flex;
        flex-direction: column;
        gap: .35em;
    }

    .cell {
        appearance: none;
        position: absolute;

        +label {
            cursor: pointer;
            height: 40px;
            width: 40px;
            background-color: var(--light-gray);
            border: 1px solid var(--black);
            border-radius: var(--border-radius);
            transition: box-shadow ease 220ms, transform ease 220ms, background-color ease 220ms;

            &:hover {
                background-color: hsl(0, 0%, 70%);
                box-shadow: 3px 3px 0px black;
                transform: translate(-3px, -3px);
            }

        }

        &:focus+label {
            outline: 2px solid var(--white);
        }

        &.my-turn+label {
            outline: 2px solid var(--black);
        }

        &:checked+label {
            border: 2px solid var(--black);
        }
    }

    .cell1 {
        &:hover+label {
            background: var(--synth-row1);
        }

        &:checked+label {
            background: var(--synth-row1);
        }
    }

    .cell2 {
        &:hover+label {
            background: var(--synth-row2);
        }

        &:checked+label {
            background: var(--synth-row2);
        }
    }

    .cell3 {
        &:hover+label {
            background: var(--synth-row3);
        }

        &:checked+label {
            background: var(--synth-row3);
        }
    }

    .cell4 {
        &:hover+label {
            background: var(--synth-row4);
        }

        &:checked+label {
            background: var(--synth-row4);
        }
    }

    .cell5 {
        &:hover+label {
            background: var(--synth-row5);
        }

        &:checked+label {
            background: var(--synth-row5);
        }
    }

    .cell6 {
        &:hover+label {
            background: var(--synth-row6);
        }

        &:checked+label {
            background: var(--synth-row6);
        }
    }

    .drum-seq__column .cell1 {
        &:hover+label {
            background: var(--drum-row1);
        }

        &:checked+label {
            background: var(--drum-row1);
        }
    }

    .drum-seq__column .cell2 {
        &:hover+label {
            background: var(--drum-row2);
        }

        &:checked+label {
            background: var(--drum-row2);
        }
    }

    .drum-seq__column .cell3 {
        &:hover+label {
            background: var(--drum-row3);
        }

        &:checked+label {
            background: var(--drum-row3);
        }
    }

    .drum-seq__column .cell4 {
        &:hover+label {
            background: var(--drum-row4);
        }

        &:checked+label {
            background: var(--drum-row4);
        }
    }

}

.medium-gray .cell+label {
    background-color: var(--medium-gray);
}

.light-gray .cell+label {
    background-color: var(--light-gray);
}