#vol-ctrl, #tempo-ctrl {
    display: flex;
    align-items: center;
}

//slider track styling
.slider {
    -webkit-appearance: none;
    width: 200px; 
    background: transparent; 
    margin-inline: 1rem;
 
}

.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 1rem;
    border-radius: 0.75rem;
    background: var(--slider);
    border: var(--border-thickness) solid;
}


.slider::-moz-range-track {
    -webkit-appearance: none;
    height: 1.5rem;
    border-radius: 0.75rem;
    background: var(--slider);
}

.slider::-moz-range-progress {
    background: var(--slider);
    height: 1.5rem;
    border-radius: 0.75rem 0 0 0.75rem;
}

.slider::-ms-track {
    -webkit-appearance: none;
    height: 1.5rem;
    border-radius: 0.75rem;
    background: transparent;
    color: transparent;
    border: 0;
}

  
//thumb styling

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    background: var(--slider-btn);
    border: var(--border-thickness) solid;
    border-radius: var(--border-radius);
    margin-top: -10px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    background: var(--slider-btn);
    border: var(--border-thickness) solid;
    margin-top: 0;
    cursor: pointer;
}

.slider::-ms-thumb {
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    background: var(--slider-btn);
    border: var(--border-thickness) solid;
    margin-top: 0;
}


 
