#vol-ctrl, #tempo-ctrl {
    display: flex;
    align-items: center;
}

//range reset
input[type="range"] {
    -webkit-appearance: none;
    width: 15rem; 
    background: transparent; 
    margin-inline: 1rem;
    cursor: pointer;
}

input[type="range"]:focus {
    outline: none;
}

//track styles

//chrome, safari, opera, edge (chromium browsers)
input[type="range"]::-webkit-slider-runnable-track {
    height: 1rem;
    border-radius: 0.75rem;
    background: var(--slider);
    border: var(--border-thickness) solid;
}

//firefox
input[type="range"]::-moz-range-track {
    height: .8rem;
    border-radius: 0.75rem;
    background: var(--light-gray);
    border: var(--border-thickness) solid;
}

//left side of thumb
input[type="range"]::-moz-range-progress {
    background: var(--slider);
    height: .8rem;
    border-radius: .75rem;
    border: var(--border-thickness) solid;
}

// input[type="range"]::-ms-track {
//     -webkit-appearance: none;
//     height: 1.5rem;
//     border-radius: 0.75rem;
//     background: transparent;
//     color: transparent;
//     border: 0;
// }

  
//thumb styling

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2.3rem;
    width: 2.3rem;
    background: var(--slider-btn);
    border: var(--border-thickness) solid;
    border-radius: var(--border-radius);
    margin-top: -14px;
    //cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    background: var(--slider-btn);
    border: var(--border-thickness) solid;
    border-radius: var(--border-radius);
    margin-top: 0;
    //cursor: pointer;
}

//focus styles

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 2px solid var(--white);
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 2px solid var(--white);
}


 
